In [32]:
import numpy as np
import pandas as pd

In [38]:
df=pd.read_csv(r"C:\Users\sanja\Downloads\archive (1)\spam.csv",encoding="ISO-8859-1")

In [40]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [62]:
df=df.rename(columns={'v1':'Categories','v2':'Messages'})

In [60]:
df=df.iloc[:,:2]
df

     Categories                                           Messages
0           ham  Go until jurong point, crazy.. Available only ...
1           ham                      Ok lar... Joking wif u oni...
2          spam  Free entry in 2 a wkly comp to win FA Cup fina...
3           ham  U dun say so early hor... U c already then say...
4           ham  Nah I don't think he goes to usf, he lives aro...
...         ...                                                ...
5567       spam  This is the 2nd time we have tried 2 contact u...
5568        ham              Will Ì_ b going to esplanade fr home?
5569        ham  Pity, * was in mood for that. So...any other s...
5570        ham  The guy did some bitching but I acted like i'd...
5571        ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [64]:
df['spam']=df['Categories'].apply(lambda x:1 if x=='spam' else 0)

In [66]:
df.head()

  Categories                                           Messages  spam
0        ham  Go until jurong point, crazy.. Available only ...     0
1        ham                      Ok lar... Joking wif u oni...     0
2       spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3        ham  U dun say so early hor... U c already then say...     0
4        ham  Nah I don't think he goes to usf, he lives aro...     0

In [72]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Messages, df.spam,test_size=0.25,random_state=42)

In [76]:
from sklearn.feature_extraction.text import CountVectorizer

In [78]:
from sklearn.naive_bayes import MultinomialNB

In [80]:
from sklearn.pipeline import Pipeline
pipe = Pipeline([('Vectorizer',CountVectorizer()),('model',MultinomialNB())])

In [82]:
model=pipe.fit(X_train,y_train)
y_pred=model.predict(X_test)

In [84]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(y_test,y_pred)

0.9820531227566404

In [88]:
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1202
           1       0.98      0.88      0.93       191

    accuracy                           0.98      1393
   macro avg       0.98      0.94      0.96      1393
weighted avg       0.98      0.98      0.98      1393